*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: rgb(117, 156, 119);
    border: none;
}

.contact {
    background-color:  #140a4b96;
    background-size: cover;
    height: 670px;
    display: flex;
}
.contact {
    display: flex;
    justify-content: center;
}

.contact input, label{
    display: block;
    width: 100%;
}
.contact input:focus, label:focus {
    outline: none;
}
.contact .box {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-bottom: solid 3px #9cc99f;
    border-right: solid 3px #cce2ce;
}
.contact h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
    color: 	#aecfa8;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .full-box {
    flex: 1 1 100%;
    position: relative;
}
.contact .half-box {
    flex: 1 1 45%;
}
.contact .spacing {
    margin-right: 2.5%;
}
label {
    font-weight: bold;
    font-size: .8rem;
    color: 	#374e34;
}
.contact input {
    border-bottom: solid 2px #a6caaa;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 30px;
    color: 	#ffffff;
    background-color: rgba(177, 218, 166, 0.8);
    border-radius: 4px;
}
.contact .box input:focus {
    border-color: #039f00;
}
.contact .box input[type="submit"]{
    background-color: #305530;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
.contact a {
    color:  #20138f96;
}
textarea {
    border-bottom: solid 2px #a3c59e;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 30px;
    color: 	#ffffff;
    background-color:rgba(177, 218, 166, 0.8);
    border-radius: 4px;
}
